<h2 mat-dialog-title>{{ data.isEdit ? 'Editar Usuário' : 'Adicionar Usuário' }}</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field class="w-full">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departmentId">
        @for (department of departments; track department.id) {
        <mat-option [value]="department.id">
          {{ department.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()" [disabled]="!userForm.valid">Salvar</button>
</mat-dialog-actions>